.container {
  width: 268px;
  background-color: #fff;
  margin: 0 auto;
  font-family: "Lato", "Arial", sanserif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding-top: 10px;
  margin-bottom: 50px;
}

.title {
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
  text-align: center;
}

.stats {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.statsItem {
  width: 67px;
  height: 60px;
  background-color: #f3f6f9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.label {
  font-size: 12px;
}

.percenage {
  font-size: 18;
}
